<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{~/resetPasswordToken}" method="POST" th:object="${passwordDto}">
    <input type="hidden" name="token" th:value="${token}" />
    <label>Password:</label>
    <input type="password" th:field="*{password}">
    <p th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>

    <button th:text="Changepassword" type="submit"></button>
</form>
</body>
</html>