<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{register}"></title>
</head>
<body>
<form th:action="@{~/signup}" method="POST" th:object="${user}">>
    <!-- <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" /> -->
    <p th:text="${message}">Msg</p>
    <label>Username:</label>
    <input type="text" th:field="*{userName}">
    <p th:each="error: ${#fields.errors('userName')}"
       th:text="${error}">Validation error</p>

    <label>Email:</label>
    <input type="email" th:field="*{email}">
    <p th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>

    <label>Password:</label>
    <input type="password" th:field="*{password}">
    <p th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>

    <label>Confirm Password:</label>
    <input type="password" th:field="*{matchingPassword}"/>
    <p th:if="${#fields.hasErrors('${user}')}" th:errors="${user}"></p>

    <button th:text="#{register}" type="submit">/button>

</form>
</body>
</html>