<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{sendVerification}"></title>
</head>
<body>
<form th:action="@{''}" method="POST" th:object="${emailDto}">
    <label th:text="#{emailForm}"></label>
    <input type="email" th:field="*{email}">
    <p th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>

    <button th:text="#{sendVerification}" type="submit"></button>
</form>
</body>
</html>