body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

.menuProfileHeaderContainer {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 1px solid #43a178;
    margin-bottom: 50px;
}

.menuProfileHeader a {
    color: #142847;
    font-size: 1.2em;
}

.menuProfileHeader h1 {
    color: #142847;
    font-size: 3em;
}

.menuProfileHeader {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.menuProfileHeader div {
    display: flex;
    justify-content: space-between;
}

.menuProfileHeader div a {
    padding-right: 15px;
}

.footerContainer {
    display: flex;
    justify-content: center;
    padding: 25px 0 15px 0px;
    margin-top: 40px;
    border-top: 1px solid #43a178;
}

.footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.footer h1 {
    font-size: 1.1em;
    padding-bottom: 20px;
}

.footer p {
    font-size: 0.9em;
}

.categoriesContainer {
    display: flex;
    justify-content: center;
}

.categories {
    width: 70%;
}

.category {
    margin-bottom: 35px;
}

.categoryTitle {
    color: #142847;
    font-size: 1.7em;
    margin-bottom: 10px;
}

.categoryDesc {
    font-size: 0.9rem;
    color: #5c6169;
    font-family: 'Open Sans', sans-serif;
}

.postsContainer {
    display: flex;
    justify-content: center;
}

.posts {
    width: 70%;
}

.postTitle {
    color: #142847;
    font-size: 1.7em;
    margin-bottom: 10px;
}

.postTime {
    font-size: 1rem;
    color: #343c4a;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.postContent {
    font-size: 1.4em;
}