<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{createPost}"></title>
</head>
<body>
<form action="" method="POST" th:object="${post}">
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
    <input th:placeholder="#{newPostTitlePlaceholder}" type="text" th:field="*{title}">
    <p th:each="error: ${#fields.errors('title')}"
       th:text="${error}">Validation error</p>

    <textarea th:placeholder="#{newPostPostPlaceholder}" th:field="*{postContent}"></textarea>
    <p th:each="error: ${#fields.errors('postContent')}"
       th:text="${error}">Validation error</p>


    <button th:text="#{postIt}" type="submit"></button>
</form>
</body>
</html>