<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{createPost}"></title>
    <div th:replace="./fragments/assets.html :: assetsCss"></div>
    <div th:replace="./fragments/assets.html :: fontAwesome"></div>
</head>
<body>
<div th:replace="./fragments/menuHeader.html :: menuHeader"></div>
<div th:replace="./fragments/menuProfileHeader.html :: menuProfile"></div>
<div class="postPostContainer">
    <form th:action="@{''}" method="POST" th:object="${post}">
        <input minlength="3" maxlength="50" th:placeholder="#{newPostTitlePlaceholder}" type="text" th:field="*{title}">
        <p class="error" th:each="error: ${#fields.errors('title')}"
           th:text="${error}">Validation error</p>

        <textarea minlength="3" maxlength="3000" th:placeholder="#{followTheRules}" th:field="*{postContent}"></textarea>
        <p class="error" th:each="error: ${#fields.errors('postContent')}"
           th:text="${error}">Validation error</p>


        <button th:text="#{postIt}" type="submit"></button>
    </form>
</div>
<div th:replace="./fragments/footer.html :: footer"></div>
<div th:replace="./fragments/assets.html :: assetsJs"></div>
</body>
</html>