<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}"></title>
    <div th:replace="./fragments/assets.html :: assetsCss"></div>
    <div th:replace="./fragments/assets.html :: fontAwesome"></div>
</head>
<body>
<div th:replace="./fragments/menuHeader.html :: menuHeader"></div>
<div th:replace="./fragments/menuProfileHeader.html :: menuProfile"></div>
<div class="postsContainer">
    <div class="posts">
        <h1 class="postTitle" th:text="${post.getTitle()}"></h1>
        <a th:href="@{~/profile/{profileId}(profileId=${post.getPoster.getId()})}" class="postTime" th:text="${post.getPoster().getVisibleUsername()} + ' - ' + ${post.getPostedTime()}"></a>
        <p class="postContent" th:text="${post.getPostContent()}"></p>
    </div>
</div>
<div sec:authorize="isAuthenticated()" class="postSocial">
    <div>
        <i id="favorite" th:class="${post.getUsersFavorited().contains(#authentication.getPrincipal())} ? 'fas fa-heart' : 'far fa-heart'"></i>
        <i id="like" th:class="${post.getUsersLiked().contains(#authentication.getPrincipal())} ? 'fas fa-thumbs-up' : 'far fa-thumbs-up'"></i>
        <i class="fas fa-share-square"></i>
        <i class="fas fa-bullhorn"></i>
        <i th:if="${#authentication.getPrincipal()} == ${post.getPoster()}" class="far fa-trash-alt"></i>
    </div>
</div>
<div sec:authorize="isAuthenticated()" th:replace="/fragments/modal.html :: deletePostModal"></div>
<div sec:authorize="isAuthenticated()" th:replace="/fragments/modal.html :: reportPostModal"></div>
<div th:replace="/fragments/comments.html :: comments"></div>
<div th:replace="/fragments/comments.html :: postComment"></div>
<div class="paginationContainer">
    <div th:if="${comments.getTotalPages() > 0}" class="pagination">
        <a th:each="pageNumber : ${pageNumbers}"
           th:href="@{''(page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==comments.getNumber() + 1} ? active"></a>
    </div>
</div>
<div th:replace="./fragments/footer.html :: footer"></div>
<div th:replace="./fragments/assets.html :: assetsJs"></div>
<div th:replace="./fragments/assets.html :: favoriteJs"></div>
<div th:replace="./fragments/assets.html :: likeJs"></div>
</body>
</html>