<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{changePassword}"></title>
    <div th:replace="/fragments/assets.html :: assetsCss"></div>
</head>
<body>
<div th:replace="/fragments/menuHeader.html :: menuHeader"></div>
<div th:replace="/fragments/menuProfileHeader.html :: menuProfile"></div>
<div class="authFormContainer">
    <form th:action="@{~/resetPassword}" method="POST" th:object="${passwordDto}">
        <input type="hidden" name="token" th:value="${token}" />
        <label>Password:</label>
        <input required minlength="6" type="password" th:field="*{password}">
        <p th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>

        <button th:text="#{changePassword}" type="submit"></button>
    </form>
</div>
<div th:replace="/fragments/footer.html :: footer"></div>
<div th:replace="/fragments/assets.html :: assetsJs"></div>
</body>
</html>