<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{resetPassword}"></title>
    <div th:replace="/fragments/assets.html :: assetsCss"></div>
</head>
<body>
<div th:replace="/fragments/menuHeader.html :: menuHeader"></div>
<div th:replace="/fragments/menuProfileHeader.html :: menuProfile"></div>
<div class="authFormContainer">
    <form  th:action="@{''}" method="POST" th:object="${passwordResetDto}">
        <label>Email:</label>
        <input required type="email" th:field="*{email}">
        <p th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>

        <button class="buttonStyle" th:text="#{resetPassword}" type="submit"></button>
    </form>
</div>
<div th:replace="/fragments/footer.html :: footer"></div>
<div th:replace="/fragments/assets.html :: assetsJs"></div>
</body>
</html>