<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="comments" class="commentsContainer">
    <div class="comments">
        <div class="comment" th:each="comment : ${comments}">
            <a class="commentDesc" th:href="@{~/profile/{profileId}/(profileId=${comment.getCommenter().getId()})}" th:text="${comment.getCommenter().getVisibleUsername()} + ' &#8226; ' + ${comment.getPostedTime()}"></a>
            <p class="commentContent" th:text="${comment.getCommentContent()}"></p>
        </div>
    </div>
</div>

<div th:fragment="postComment" sec:authorize="isAuthenticated()" class="postComment">
    <form th:action="@{''}" method="POST" th:object="${commentDto}">
        <textarea th:placeholder="#{followTheRules}" class="commentTextArea" th:field="*{commentContent}"></textarea>
        <p class="error" th:each="error: ${#fields.errors('commentContent')}"
           th:text="${error}">Validation error</p>
        <button type="submit" th:text="#{postIt}"></button>
    </form>
</div>
</html>