<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="menuProfile" class="menuProfileHeaderContainer">
    <div sec:authorize="isAnonymous()" class="menuProfileHeader">
        <a th:text="#{welcome}"></a>
        <div>
            <a th:text="#{login}" th:href="@{~/login}"></a>
            <a th:text="#{register}" th:href="@{~/signup}"></a>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()" class="menuProfileHeader">
        <a th:text="#{welcomeBack} + ${#authentication.getPrincipal().getVisibleUsername()} + '!'"></a>
        <div>
            <a th:text="#{profile}" th:href="@{~/profile/{id}(id=${#authentication.getPrincipal().getId()})}"></a>
            <a th:text="#{logout}" th:href="@{~/logout}"></a>
        </div>
    </div>
</div>