<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="deletePostModal" th:if="${#authentication.getPrincipal()} == ${post.getPoster()}" th:remove="tag ">
    <div id="deletePostModal" class="modal">
        <div class="modal-content">
            <form th:action="@{~/category/{category}/post/{id}/{slug}/delete(category=${post.getCategory().getSlug()}, id=${post.getId()}, slug=${post.getSlug()})}" th:method="POST">
                <p th:text="#{deletePostConfirmation}"></p>
                <div class="deletePostOptions">
                    <button type="submit" class="buttonStyle" id="deletePostButton" th:text="#{yes}"></button>
                    <button type="button" class="buttonStyle" id="dontDeletePostButton" th:text="#{no}"></button>
                </div>
            </form>
        </div>
    </div>

    <script>
        const deletePostModal = () => {
            let modal = document.getElementById("deletePostModal");
            let btn = document.getElementsByClassName("fa-trash-alt")[0];
            let noButton = document.getElementById("dontDeletePostButton");

            btn.onclick = function() {
                modal.style.display = "block";
            }

            noButton.onclick = function() {
                modal.style.display = "none";
            }
        }
        deletePostModal();
    </script>
</div>
<div th:fragment="reportPostModal" th:remove="tag ">
    <div id="reportPostModal" class="modal">
        <div class="modal-content">
            <form class="reportPostForm" th:object="${reportDto}" th:action="@{~/category/{category}/post/{id}/{slug}/report(category=${post.getCategory().getSlug()}, id=${post.getId()}, slug=${post.getSlug()})}" th:method="POST">
                <p th:text="#{reportPostConfirmation}"></p>
                <div>
                    <input th:field="*{reportReason}" type="radio" id="reportReasonSpam" name="reportReason" value="reportSpam">
                    <label for="reportReasonSpam" th:text="#{reportSpam}"></label>
                </div>
                <div>
                    <input th:field="*{reportReason}" type="radio" id="reportReasonHateful" name="reportReason" value="reportHate">
                    <label for="reportReasonHateful"  th:text="#{reportHate}"></label>
                </div>
                <div>
                    <input th:field="*{reportReason}" type="radio" id="reportReasonIllegal" name="reportReason" value="reportIllegal">
                    <label for="reportReasonIllegal" th:text="#{reportIllegal}"></label>
                </div>
                <label for="reportReasonComment" th:text="#{reportOther}"></label>
                <input th:field="*{reportComment}" type="text" id="reportReasonComment" name="reportComment" maxlength="30">
                <div class="deletePostOptions">
                    <button type="submit" class="buttonStyle" id="reportPostButton" th:text="#{report}"></button>
                    <button type="button" class="buttonStyle" id="dontReportPostButton" th:text="#{cancel}"></button>
                </div>
            </form>
        </div>
    </div>

    <script>
        const reportPostModal = () => {
            let modal = document.getElementById("reportPostModal");
            let btn = document.getElementsByClassName("fa-bullhorn")[0];
            let noButton = document.getElementById("dontReportPostButton");

            btn.onclick = function() {
                modal.style.display = "block";
            }

            noButton.onclick = function() {
                modal.style.display = "none";
            }
        }
        reportPostModal();
    </script>
    <script>
        let deleteModal = document.getElementById("deletePostModal");
        let reportModal = document.getElementById("reportPostModal");
        const closeModal = () => {
            window.onclick = function(event) {
                if (event.target == deleteModal) {
                    deleteModal.style.display = "none";
                }
                if (event.target == reportModal) {
                    reportModal.style.display = "none";
                }
            }
        }
        closeModal();
    </script>
</div>