<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="deletePostModal" th:if="${#authentication.getPrincipal()} == ${post.getPoster()}" th:remove="tag ">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <form th:action="@{~/category/{category}/post/{id}/{slug}/delete(category=${post.getCategory().getSlug()}, id=${post.getId()}, slug=${post.getSlug()})}" th:method="POST">
                <p th:text="#{deletePostConfirmation}"></p>
                <div class="deletePostOptions">
                    <button type="submit" class="buttonStyle" id="deletePostButton" th:text="Yes"></button>
                    <button type="button" class="buttonStyle" id="dontDeletePostButton" th:text="No"></button>
                </div>
            </form>
        </div>
    </div>

    <script>
        const deletePostModal = () => {
            let modal = document.getElementById("myModal");
            let btn = document.getElementsByClassName("fa-trash-alt")[0];
            let noButton = document.getElementById("dontDeletePostButton");

            btn.onclick = function() {
                modal.style.display = "block";
            }

            noButton.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
        deletePostModal();
    </script>
</div>