body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

.error {
    margin: 10px;
    color: #d91a2d;
}

.info {
    padding: 10px;
    color: #444e80;
}

i {
    cursor: pointer
}

#logout {
    all: unset;
    font-size: 1.2em;
    color: #142847;
    cursor: pointer;
}

.menuProfileHeaderContainer {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 1px solid #43a178;
    margin-bottom: 50px;
}

.menuProfileHeader a {
    color: #142847;
    font-size: 1.2em;
}

.menuProfileHeader h1 {
    color: #142847;
    font-size: 3em;
}

.menuProfileHeader {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.menuProfileHeaderItems {
    display: flex;
    justify-content: space-between;
}

.menuProfileHeader div a {
    padding-right: 15px;
}

.footerContainer {
    display: flex;
    justify-content: center;
    padding: 25px 0 15px 0px;
    margin-top: 40px;
    border-top: 1px solid #43a178;
}

.footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.footer h1 {
    font-size: 1.1em;
    padding-bottom: 20px;
}

.footer p {
    font-size: 0.9em;
}

.categoriesContainer {
    display: flex;
    justify-content: center;
}

.categories {
    width: 70%;
}

.category {
    margin-bottom: 35px;
}

.categoryTitle {
    color: #142847;
    font-size: 1.7em;
    margin-bottom: 10px;
}

.categoryDesc {
    font-size: 0.9rem;
    color: #5c6169;
    font-family: 'Open Sans', sans-serif;
}

.categoryHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.categoryHeader div {
    width: 70%;
    color: #1c704b;
}

.categoryHeader div a {
    color: #1c704b;
}

.categoryHeader div a i {
    color: #1c704b;
}

.postsContainer {
    display: flex;
    justify-content: center;
}

.posts {
    width: 70%;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.postPosts {
    margin-bottom: 35px;
}

.postsTitle {
    color: #142847;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.postsDesc {
    font-size: 1rem;
    color: #516078;
    font-family: 'Open Sans', sans-serif;
}

.postTime {
    font-size: 1rem;
    color: #343c4a;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.postContent {
    font-size: 1.4em;
}

.postSocial {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}

.postSocial div {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.postSocial div i {
    color: #1c704b;
    font-size: 1.1em;
}

.paginationContainer {
    display: flex;
    justify-content: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #43a178;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.commentsContainer {
    display: flex;
    justify-content: center;
}

.comments {
    width: 70%;
}

.comment {
    margin-bottom: 35px;
    border-bottom: 1px solid #43a178;
}

.commentDesc {
    font-size: 1rem;
    color: #516078;
    font-family: 'Open Sans', sans-serif;
}

.commentContent {
    margin-top: 10px;
}

.postComment {
    margin-bottom: 30px;
}

.postComment form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postComment form button {
    margin-top: 10px;
    width: 10%;
    color: white;
    border: none;
    background-color: #43a178;
    padding: 5px 6px 5px 6px;
    border-radius: 5px;
    transition: background-color .3s;
}

.postComment form button:hover {
    color: #142847;
    border: 1px solid #142847;
    background-color: transparent;
}

.commentTextArea {
    width: 50%;
    height: 100px;
    resize: none;
}

.postPostContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postPostContainer form input {
    width: 30%;
}

.postPostContainer form textarea {
    width: 50%;
    height: 300px;
    resize: none;
    margin-top: 30px;
}

.postPostContainer form button {
    margin-top: 10px;
    width: 10%;
    color: white;
    border: none;
    background-color: #43a178;
    padding: 5px 6px 5px 6px;
    border-radius: 5px;
    transition: background-color .3s;
}

.postPostContainer form button:hover {
    color: #142847;
    border: 1px solid #142847;
    background-color: transparent;
}

.fa-thumbtack {
    color: #1c704b;
    font-size: 0.5em;
}

.authFormContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authFormContainer form label {
    padding-bottom: 5px;
}

.authFormContainer form input {
    margin-bottom: 10px;
}

.authFormContainer form button {
    margin-top: 10px;
    width: 10%;
    color: white;
    border: none;
    background-color: #43a178;
    padding: 5px 6px 5px 6px;
    border-radius: 5px;
    transition: background-color .3s;
}

.authFormContainer form button:hover {
    color: #142847;
    border: 1px solid #142847;
    background-color: transparent;
}

.buttonStyle {
    margin-top: 10px;
    width: 10%;
    color: white;
    border: none;
    background-color: #43a178;
    padding: 5px 6px 5px 6px;
    border-radius: 5px;
    transition: background-color .3s;
    cursor: pointer;
    border: 1px solid transparent;
}

.buttonStyle:hover {
    color: #142847;
    border: 1px solid #142847;
    background-color: transparent;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    display: flex;
    justify-content: center;
    align-items: center;
}

.deletePostOptions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.deletePostOptions button {
    width: 30%;
    padding: 0px 10px;
}

.profileContainer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.alignCenter {
    text-align: center;
}

.orofileInfoCategory {
    color: #142847;
    font-size: 1.2em;
}

.reportPostForm {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.reportPostForm div {
    margin-bottom: 5px;
}

.reportPostForm div label {
    margin-right: 5px;
}

#reportPostButton, #dontReportPostButton {
    width: 40%;
}

.editSection {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.success {
    color: #198754;
}

.editSectionHeader {
    margin-bottom: 20px;
    width: 50%;
    padding: 3px 5px 3px 5px;
    font-size: 1.2em;
    color: white;
    background: rgb(25,135,84);
    background: linear-gradient(135deg, rgba(25,135,84,1) 0%, rgba(255,255,255,1) 100%);
}

.changeProfileForm {
    display: flex;
    flex-direction: column;
}

.changeProfileForm input {
    width: 30%;
    margin-bottom: 15px;
}

.changeProfileForm button {
    width: 30%;
}

.icon {
    color: #1c704b;
    font-size: 1.1em;
}

.icon:hover {
    color: #1c704b;
}

.chat {
    overflow-y: scroll;
    height: 40vh;
    width: 70%;
    margin: 0 auto;
}

.sendChat {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sendChat textarea {
    width: 83%;
    height: 100%;
    resize: none;
}

.sendChat button {
    width: 15%;
    height: 100%;
}

.myMsg {
    background-color: #dcf2dd;
    padding: 10px;
    margin: 0px;
}

.elseMsg {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 0px;
}

.chatRooms {
    width: 70%;
    margin: 0 auto;
}

.chatRoom {
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

.messager {
    margin-left: 3%;
    padding-right: 3%;
    border-right: 1px solid black;
}

.lastMsg {
    margin-left: 6%;
}

.optionsButton {
    padding: 0 3px 0 3px;
    border: none;
    background-color: transparent;
    color: #142847;
    font-size: 1.2em;
}

.optionsButton:hover {
    background-color: transparent;
    color: #142847;
}

.fa-comments {
    color: #43a178;
}

.fa-comments:hover {
    color: #142847;
}

.separator {
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #43a178;
    opacity: 100;
    margin-bottom: 15px;
}