<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${category.getName()}"></title>
    <div th:replace="./fragments/assets.html :: assetsCss"></div>
</head>
<body>
<div th:replace="./fragments/menuHeader.html :: menuHeader"></div>
<div th:replace="./fragments/menuProfileHeader.html :: menuProfile"></div>
<main>
    <div th:replace="/fragments/posts.html :: postsWithoutCategory"></div>
</main>
<div class="paginationContainer">
    <div th:if="${posts.getTotalPages() > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{~/category/{categoryName}(page=${pageNumber}, categoryName=${category.getSlug()})}"
           th:text=${pageNumber}
           th:class="${pageNumber==posts.getNumber() + 1} ? active"></a>
    </div>
</div>
<div th:replace="./fragments/footer.html :: footer"></div>
<div th:replace="./fragments/assets.html :: assetsJs"></div>
</body>
</html>