<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{moderator}"></title>
    <div th:replace="/fragments/assets.html :: assetsCss"></div>
</head>
<div th:replace="/fragments/menuHeader.html :: menuHeader"></div>
<div th:replace="/fragments/menuProfileHeader.html :: menuProfile"></div>
<body>
<th:block th:replace="/fragments/moderator :: menu"></th:block>
<div th:replace="/fragments/footer.html :: footer"></div>
<div th:replace="/fragments/assets.html :: assetsJs"></div>
</body>
</html>