<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{contact}"></title>
    <div th:replace="./fragments/assets.html :: assetsCss"></div>
</head>
<body>
<div th:replace="./fragments/menuHeader.html :: menuHeader"></div>
<div th:replace="./fragments/menuProfileHeader.html :: menuProfile"></div>
<div class="postPostContainer">
    <form th:action="@{~/contact}" th:method="POST" th:object="${contactDto}">
        <p th:if="${success}" class="success alignCenter"  th:text="#{${success}}"></p>

        <input th:placeholder="#{emailForm}" required type="email" th:field="*{email}">
        <p class="error" th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>

        <textarea th:placeholder="#{text}" maxlength="1000" th:field="*{content}"></textarea>
        <p class="error" th:each="error: ${#fields.errors('content')}" th:text="${error}">Validation error</p>

        <button class="buttonStyle" type="submit" th:text="#{send}"></button>
    </form>
</div>
<div th:replace="./fragments/footer.html :: footer"></div>
<div th:replace="./fragments/assets.html :: assetsJs"></div>
</body>
</html>